.header-carousel-button{
    background-color:black;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}
.carousel-control-prev{
    margin-left: 2rem;
}
.carousel-control-next{
    margin-right: 2rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-size: cover;
}
.header-banner {
    position: absolute;
    background-color: white;
    display: block;
    max-width: 400px;
    padding: 20px;
    width:40rem;
    top: 4rem;
    left: 7rem;
}
.header-banner h4 {
    font-weight: bolder;
}